
upstream docker-registry {
    server localhost:5000;
}


server {
    listen 80;

    proxy_set_header Host           $http_host;   # required for docker client's sake
    proxy_set_header X-Real-IP      $remote_addr; # pass on real client's IP
    proxy_set_header Authorization  ""; # see https://github.com/dotcloud/docker-registry/issues/170

    client_max_body_size 0; # disable any limits to avoid HTTP 413 for large image uploads

    # required to avoid HTTP 411: see Issue #1486 (https://github.com/dotcloud/docker/issues/1486)
    chunked_transfer_encoding on;

    set $read_only "<READ_ONLY>";
    set $write_method "0";
    if ($request_method ~ ^(PUT|DELETE)$ ) {
        set $write_method "${read_only}1";
    }
    if ($write_method = "11") {
        return 405;
    }

    location / {
        proxy_pass              http://docker-registry;
        proxy_read_timeout      900;
    }
}
